<mat-card>
  <mat-card-header>
    <mat-card-title>
      <h1 class="border-bottom">Phones</h1>
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <mat-list>
      <mat-list-item *ngFor="let phone of phones; let last = last;" (click)="select(phone)" class="mat-list-option border-bottom" [ngClass]="{'no-bottom-border': last}">
        <h3 mat-line>
          {{phone.title}}
        </h3>
        <p mat-line>
          {{phone.details}}
        </p>
        <button mat-mini-fab (click)="delete(phone); $event.stopImmediatePropagation()" class="mr-3">
        <mat-icon>close</mat-icon>
        </button>
        <button mat-icon-button class="mr-2" [routerLink]="phone.id" routerLinkActive="active" >
          <mat-icon>more_vert</mat-icon>
        </button>
      </mat-list-item>
    </mat-list>
  </mat-card-content>
</mat-card>
